html, body {
  height: 100%;
  background-color: white;
}

.App {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto !important;
}

blockquote {
  border-left: 5px solid #80cbc4;
}

.hero-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-height: 280 !important;
}

.no-wrap {
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.grayscale {
  filter: grayscale(100%) brightness(50%) !important;
}

.sidenav {
  background-color: #80cbc4;
  color: #FFF !important;
}

.nav-wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 0
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.rounded-corners {
  border-radius: 10px !important;
}

.button, .btn, .btn-small, .btn-large, .btn-flat {
  text-transform: none !important;
  box-shadow: none !important;
}